/* 0081B4 , EFA3C8*/


*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

body{
    background-color: rgb(188, 217, 241);
}

/* navbar */
.navbar{
    background-color: #0081B4;
}

.nav-link{
    color: #EFA3C8;
}

.nav-link:hover{
    color: white;
}

/* footer */
footer{
    color: #EFA3C8;
    background-color: #0081B4;
}

.fa-solid{
    color: #EFA3C8;
}

.navbar-toggler{
    border: none;
    box-shadow: none;
}

.mb-4 a{
    border: 2px solid black;
}

.mb-4 a:hover{
    border: 2px solid #EFA3C8;
}

/* homepage */
.container-homepage{
    margin: 10px 0;
}

.cnt-homepage{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.cnt-homepage img{
    width: 100%;
    margin:  0 auto;
    border-radius: 10px;
    border: 5px solid #EFA3C8;
}

h1, h4{
    color: #0081B4;
}

span{
    font-size: 50px;
    color: #0081B4;
}

/* about */
.grid-about{
    margin: 10px;
    border: 3px solid #EFA3C8;
    background-color: #0081B4;
}

.grid-txt{
    padding: 10px;
    text-align: justify;
}

.grid-txt span{
    font-size: 24px;
    color: #EFA3C8;
}

.grid-images{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#img-about{
    width: 25%;
}

#img-about img{
    width: 100%;
}

/* education */
.educ-content{
    padding: 10px;
    width: 100%;
}

.educ-img img{
    width: 100%;
}

.educ-item{
    text-align: center;
}

/* hobbies */
.hobbies-img img{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid #EFA3C8;
}

.hobbies{
    padding: 5px;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px,2fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.v-stretch{
    grid-row: span 2;
}

.h-stretch{
    grid-column: span 2;
}

.big-stretch{
    grid-row: span 2;
    grid-column: span 2;
}

/* contact */
.cnt-contact{
    display: flex;
    flex-direction: row;
}

.contact-item{
    padding: 100px;
    width: 50%;
}

.contact-item p{
    font-size: 35px;
}

.contact-item img{
    width: 100%;
    border-radius: 10px;
    border: 5px solid #EFA3C8;
}



@media screen and (max-width:767px) {
    #img-about{
        width: 100%;
    }
    
    .grid-images{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 560px) {
    .v-stretch{
        grid-row: span 2;
    }
    
    .h-stretch{
        grid-column: span 2;
    }
    
    .big-stretch{
        grid-row: span 2;
        grid-column: span 2;
    }
}